/* Tutorial Content Styling */
.content > h2 {
  @apply text-3xl text-white font-bold mt-5;
}

.content > p {
  @apply leading-8 text-lg text-textContent;
}

.content > h3 {
  @apply text-2xl font-semibold text-white;
}

.content > ul {
  @apply list-disc ml-10 font-medium text-lg leading-8;
}

.content > ol {
  @apply ml-11 list-decimal font-medium text-lg leading-8;
}

.content li {
  @apply mb-5;
}

.content > blockquote {
  @apply bg-[#232429] p-4 border-l-4 border-l-white text-gray-300 italic;
}

.content strong {
  @apply text-[#fff];
}

.content a {
  @apply relative inline-flex items-center text-white;
}

.content a:hover {
  @apply underline;
}

.content a::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.25rem; /* Tailwind = ml-1 */
  background: currentColor;
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='currentColor' fill-rule='evenodd' d='M362.666 149.333V320H320l-.001-97.831l-154.51 154.51l-30.169-30.17L289.829 192h-97.83v-42.666z'/></svg>")
    no-repeat center;
  mask-size: contain;
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='currentColor' fill-rule='evenodd' d='M362.666 149.333V320H320l-.001-97.831l-154.51 154.51l-30.169-30.17L289.829 192h-97.83v-42.666z'/></svg>")
    no-repeat center;
  -webkit-mask-size: contain;
}

em {
  @apply mr-1;
}

.content > p > img {
  width: 70%;
  margin: 1em auto 1em auto;
  border-radius: 5px;
}

.content img {
  width: 100% !important;
  border: 1px solid rgba(255, 255, 255, 0.285);
}

.content > .img-desc {
  @apply mt-[-2rem] text-center text-sm font-medium mb-5;
}

.img-alt {
  @apply text-center mt-[-15px] text-base;
}

@media screen and (width >= 768px) {
  .content img {
    width: 90% !important;
  }
}
