@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SourceCodePro";
  src: url("/fonts/SourceCodePro/SourceCodePro.woff2") format("woff2"),
    url("/fonts/SourceCodePro/SourceCodePro.woff") format("woff"),
    url("/fonts/SourceCodePro/SourceCodePro.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #2d2e34;
}
::-webkit-scrollbar-thumb {
  background-color: #33cb936f;
  border-radius: 0.75rem;
  border: 3px solid #2d2e34;
}

header {
  position: fixed;
  width: 100%;
  background: rgba(10, 25, 47);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 100;
}

img {
  @apply rounded-xl border-2 border-themePrimary;
}

.hamburger {
  background: rgba(10, 25, 47);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.main-layout {
  @apply px-6 max-w-[60rem] mx-auto;
}

.skill-card > div > i {
  @apply hover:text-white;
}
