---
import SocialLinks from "./SocialLinks.astro";
---

<section id="contacts" class="py-40 main-layout">
  <div>
    <h2 class="text-5xl mb-4 text-center text-themePrimary font-semibold">Get In Touch</h2>
    <p class="text-xl mb-8 text-center">
      I'm always open for any creative ideas<br />
      Just hit me up!
    </p>
    <div>
      <a
        href="mailto: aidiliskandar63@gmail.com"
        class="rounded-md py-3 px-6 w-max text-xl flex items-center border-2 mx-auto border-themePrimary hover:bg-emerald-400/10"
        ><span class="text-themePrimary">Email me</span>
        <svg
          class="ml-3 text-themePrimary"
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
        >
          <rect width="24" height="24" fill="none"></rect>
          <path
            fill="currentColor"
            d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2m0 4l-8 5l-8-5V6l8 5l8-5z"
          ></path>
        </svg></a
      >
      <div class="w-max mx-auto flex gap-4 mt-6">
        <a
          href="https://thisisaidil.medium.com/"
          target="_blank"
          class="w-14 h-14 flex items-center justify-center rounded-full te xt-xl border-2 border-themePrimary hover:bg-emerald-400/10"
          ><svg
            class="text-themePrimary"
            xmlns="http://www.w3.org/2000/svg"
            width="2em"
            height="2em"
            viewBox="0 0 24 24"
          >
            <rect width="24" height="24" fill="none"></rect>
            <path
              fill="currentColor"
              d="M13.41 12.007c0 3.45-2.779 6.247-6.205 6.247C3.778 18.254 1 15.458 1 12.007C1 8.557 3.778 5.76 7.205 5.76c3.426 0 6.204 2.797 6.204 6.247m6.806 0c0 3.248-1.39 5.88-3.102 5.88c-1.714 0-3.103-2.633-3.103-5.88s1.39-5.88 3.103-5.88c1.713 0 3.102 2.633 3.102 5.88m2.784 0c0 2.91-.489 5.269-1.091 5.269c-.603 0-1.091-2.36-1.091-5.269c0-2.91.488-5.269 1.091-5.269S23 9.098 23 12.008"
            ></path>
          </svg></a
        >
        <a
          href="https://www.linkedin.com/in/muhammad-aidil-iskandar/"
          target="_blank"
          class="w-14 h-14 flex items-center justify-center rounded-full te xt-xl border-2 border-themePrimary hover:bg-emerald-400/10"
          ><svg
            class="text-themePrimary"
            xmlns="http://www.w3.org/2000/svg"
            width="2em"
            height="2em"
            viewBox="0 0 24 24"
          >
            <rect width="24" height="24" fill="none"></rect>
            <path
              fill="currentColor"
              d="M6.94 5a2 2 0 1 1-4-.002a2 2 0 0 1 4 .002M7 8.48H3V21h4zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91z"
            ></path>
          </svg></a
        >
      </div>
    </div>
  </div>
</section>
