<section class="max-w-[50rem] mt-16 mx-auto grid px-6">
  <div class="mt-8">
    <h2 class="text-3xl font-bold">
      [0][0]<span class="text-themePrimary"> Skills:</span>
    </h2>
  </div>
  <div class="mt-8 gap-4">
    <div class="py-11 px-8 bg-cardColor font-semibold rounded skill-card max-w-[35rem] mx-auto">
      <div class="flex flex-wrap items-center justify-center gap-x-12 gap-y-8 text-5xl">
        <i title="HTMl" class="devicon-html5-plain-wordmark"></i>
        <i title="CSS" class="devicon-css3-plain-wordmark"></i>
        <i title="Javascript" class="devicon-javascript-plain"></i>
        <i title="Python" class="devicon-python-plain"></i>
        <i title="React" class="devicon-react-original"></i>
        <i title="Astro" class="devicon-astro-plain"></i>
        <i title="Next.js" class="devicon-nextjs-plain"></i>
        <i title="Hugo" class="devicon-hugo-plain"></i>
        <i title="Tailwind CSS" class="devicon-tailwindcss-original"></i>
        <i title="Bootstrap CSS" class="devicon-bootstrap-plain"></i>
      </div>
    </div>
  </div>
</section>
