<section id="about" class="main-layout my-10">
  <div>
    <h2 class="text-4xl font-bold">[0] <span class="text-themePrimary">whoami?</span></h2>
  </div>
</section>
<div class="main-layout grid md:grid-cols-3 gap-8">
  <div class="md:col-span-2 flex items-center">
    <div class="text-lg">
      <p>
        👋 Hi there! I am <span class="text-themePrimary">Aidil Iskandar</span>, a 19-year-old
        aspiring physicist from Selangor, Malaysia. I recently completed my SPM and I am currently a
        student taking International Baccalaureate Diploma program (IBDP) at MARA College Banting.
        With skills in web development, mathematics, and physics, I am driven to excel and
        contribute to the tech and physics community. Let's connect and collaborate to make a
        difference!
      </p>
    </div>
  </div>
  <div class="flex items-center justify-center">
    <img loading="lazy" src="./assets/profile picture.jpg" alt="profile picture" width="400" />
  </div>
</div>
