<section id="about" class="main-layout my-10">
  <div>
    <h2 class="text-4xl font-bold">[0] <span class="text-themePrimary">whoami?</span></h2>
  </div>
</section>
<div class="main-layout grid md:grid-cols-3 gap-8">
  <div class="md:col-span-2 flex items-center">
    <div class="text-lg">
      <p>
        👋 Hi there! I am <span class="text-themePrimary">Aidil Iskandar</span>, an 18-year-old
        aspiring web developer from Selangor, Malaysia. I recently completed my SPM with 8A+ and 1A
        and will be enrolling in Physical Science Foundation at Pusat Asasi Sains Universiti Malaya.
        I am passionate about creating impactful web applications and exploring innovative solutions
        to complex problems. With skills in web development, mathematics, and physics, I am driven
        to excel and contribute to the tech community.
      </p>
    </div>
  </div>
  <div class="flex items-center justify-center">
    <img
      class="rounded-xl border-2 border-themePrimary"
      loading="lazy"
      src="./assets/profile picture.jpg"
      alt="profile picture"
      width="400"
    />
  </div>
</div>
