---
import WorkCard from "./WorkCard.astro";
---

<section id="works" class="main-layout mt-20">
  <div>
    <h2 class="text-3xl font-bold">[1] <span class="text-themePrimary">My Works:</span></h2>
  </div>

  <div>
    <WorkCard
      img="tia"
      status="Development"
      name="Tutors In Action's Official Website"
      description="Connecting SPM students with volunteer tutors."
      techList={["Hugo", "Bootstrap"]}
      contributor="true"
    />
    <WorkCard
      img="hugo-tailwind-starter"
      status="Online"
      name="Hugo Tailwind Starter"
      description="Very basic Hugo + Tailwind CSS starter theme"
      techList={["Hugo", "Tailwind"]}
      link="https://hugo-tailwind-starter.netlify.app/"
      github="https://github.com/aidil-sekandar/hugo-tailwind-starter"
    />
    <WorkCard
      img="study-with-aidil"
      status="Online"
      name="Study With Aidil"
      description="Aidil Iskandar's academic vault"
      techList={["Astro", "React", "Tailwind"]}
      link="https://study.aidiliskandar.com/"
      github="https://github.com/aidil-sekandar/study-with-aidil"
    />
    <WorkCard
      img="fizikis"
      status="Online"
      name="Fizikis"
      description="Compilation of KSSM Physics experiments"
      techList={["HTML", "CSS", "Javascript"]}
      link="https://fizikis.netlify.app/"
      github="https://github.com/aidil-sekandar/fizikis"
    />
  </div>
</section>
