---
import WorkCard from "./WorkCard.astro";
---

<section id="works" class="main-layout mt-20">
  <div>
    <h2 class="text-3xl font-bold">[1] <span class="text-themePrimary">My Works:</span></h2>
  </div>

  <div>
    <WorkCard
      img="siri-angkasawan-malaysia"
      status="Online"
      name="Siri Angkasawan Malaysia"
      description="Siri Angkasawan Malaysia is a series of articles that explores the historic journey of Malaysia’s astronaut program."
      techList={[]}
      link="https://aidiliskandar.space/blog/"
      type="Articles"
    />
    <WorkCard
      img="study-with-aidil"
      status="Online"
      name="Study With Aidil"
      description="Aidil Iskandar's academic vault"
      techList={["Astro", "React", "Tailwind"]}
      link="https://study.aidiliskandar.space/"
      github="https://github.com/aidil-sekandar/study-with-aidil"
      type="Personal Project"
    />
    <WorkCard
      img="tia"
      status="Online"
      name="Tutors In Action's Official Website"
      description="Connecting SPM students with volunteer tutors."
      techList={["Hugo", "Bootstrap"]}
      link="https://tutors-in-action.org/"
      type="Official Website"
    />
    <WorkCard
      img="hugo-tailwind-starter"
      status="Online"
      name="Hugo Tailwind Starter"
      description="Very basic Hugo + Tailwind CSS starter theme"
      techList={["Hugo", "Tailwind"]}
      link="https://hugo-tailwind-starter.netlify.app/"
      github="https://github.com/aidil-sekandar/hugo-tailwind-starter"
      type="Hugo Template"
    />
    <WorkCard
      img="fizikis"
      status="Online"
      name="Fizikis"
      description="Compilation of KSSM Physics experiments"
      techList={["HTML", "CSS", "Javascript"]}
      link="https://fizikis.netlify.app/"
      github="https://github.com/aidil-sekandar/fizikis"
      type="Personal Project"
    />
  </div>
</section>
