---
import WorkCard from "./WorkCard.astro";
---

<section id="works" class="main-layout mt-20">
  <div>
    <h2 class="text-3xl font-bold">[1] <span class="text-themePrimary">My Works:</span></h2>
  </div>

  <div>
    <WorkCard
      img="the-tex-project"
      status="Development"
      name="The TEX Project"
      description="Malaysia's open-source learning community"
      techList={["Astro", "Tailwind"]}
    />
    <WorkCard
      img="study-with-aidil"
      status="Online"
      name="Study With Aidil"
      description="Aidil Iskandar's academic vault"
      techList={["Astro", "React", "Tailwind"]}
      link="https://study.aidiliskandar.com/"
      github="https://github.com/aidil-sekandar/study-with-aidil"
    />
    <WorkCard
      img="strim-tv"
      status="Online"
      name="Strim TV"
      description="Watch your favourite local TV channels online"
      techList={["Astro", "React"]}
      link="https://strim-tv.netlify.app/"
      github="https://github.com/aidil-sekandar/strim-tv"
    />
    <WorkCard
      img="fizikis"
      status="Online"
      name="Fizikis"
      description="Compilation of KSSM Physics experiments"
      techList={["HTML", "CSS", "Javascript"]}
      link="https://fizikis.netlify.app/"
      github="https://github.com/aidil-sekandar/fizikis"
    />
    <WorkCard
      img="waktu-solat"
      status="Online"
      name="Waktu Solat Malaysia"
      description="Check prayer time in Malaysia."
      techList={["HTML", "CSS", "Javascript"]}
      link="https://waktu-solat.netlify.app/"
      github="https://github.com/aidil-sekandar/javascript-projects/tree/main/waktu%20solat"
    />
    <WorkCard
      img="online-keyboard-tester"
      status="Online"
      name="Online Keyboard Tester"
      description="Test your old or brand new keyboard"
      techList={["HTML", "CSS", "Javascript"]}
      link="https://keyboardtester.netlify.app/"
      github="https://github.com/aidil-sekandar/javascript-projects/tree/main/Keyboard%20Tester"
    />
  </div>
</section>
